* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

#root {
  height: 100vh;
}

.App > .header{
  margin-left : 100px;
  margin-right : 100px;
  border: 2px blue solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
