* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

#root {
  height: 100vh;
}

.App > .header{
  margin-left : 100px;
  margin-right : 100px;
  border: 2px blue solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.route-button {
  width: 40px;
  height: 20px;
  border-radius: 4px;
}


.route-button:hover {
  width:55px;    
  border-color: #000;
}


.route-button.active {
  width:55px;
  border-color: #000;
}